In [23]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randint(0,100,size=(50,3)), columns=list('123'))
df.head()

    1   2   3
0  53  31  56
1  62   8  65
2  86   8  92
3  22  19  78
4  55  96  76

In [24]:
p = 15
pn = int(p/100 * df.size)
r = np.random.choice(df.index,pn,replace=False)
print(r)
for i in r:
    c = np.random.choice(df.columns)
    df[c][i] = np.nan
df.head()

[16  0 29 32 38  7 42 14 34 28 49 17 20 47 31 10 48 19 36  6 35 15]

C:\Users\abhay\AppData\Local\Temp\ipykernel_15844\3645134228.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[c][i] = np.nan
C:\Users\abhay\AppData\Local\Temp\ipykernel_15844\3645134228.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[c][i] = np.nan

      1     2     3
0  53.0  31.0   NaN
1  62.0   8.0  65.0
2  86.0   8.0  92.0
3  22.0  19.0  78.0
4  55.0  96.0  76.0

In [25]:
# df.isnull()
df.isnull().sum().sum()

22

In [29]:
n = df.isnull().sum()
print(n)
df = df.drop(columns = df.columns[n>5])
df.head()

1    5
2    8
3    9
dtype: int64

      1
0  53.0
1  62.0
2  86.0
3  22.0
4  55.0

In [36]:
a = df.sum(axis=1)
# a.max()
a[a==a.max()]

16    98.0
dtype: float64

In [ ]:
df.sort(values=1)