In [44]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randint(0,100,size=(50,3)), columns=list('123'))
df.head()

    1   2   3
0  48  28   0
1  16  27  39
2  93  35  51
3  38  22  22
4  72  66  32

In [45]:
p = 15
pn = int(p/100 * df.size)
r = np.random.choice(df.index,pn,replace=False)
print(r)
for i in r:
    c = np.random.choice(df.columns)
    df[c][i] = np.nan
df.head()

[22 19 30  9 46 23 21  3 39 49 17 48  5 31 28 26 16 40 29 43  7 34]

C:\Users\abhay\AppData\Local\Temp\ipykernel_15844\3645134228.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[c][i] = np.nan
C:\Users\abhay\AppData\Local\Temp\ipykernel_15844\3645134228.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[c][i] = np.nan

      1     2     3
0  48.0  28.0   0.0
1  16.0  27.0  39.0
2  93.0  35.0  51.0
3  38.0   NaN  22.0
4  72.0  66.0  32.0

In [46]:
# df.isnull()
df.isnull().sum().sum()

22

In [47]:
n = df.isnull().sum()
print(n)
df.drop(columns = df.columns[n>5]).head()

1    6
2    8
3    8
dtype: int64

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [48]:
a = df.sum(axis=1)
# a.max()
a[a==a.max()]

15    233.0
dtype: float64

In [49]:
df.sort_values('1').head()

       1     2     3
20   1.0  66.0  16.0
8   13.0  80.0  20.0
32  15.0  75.0  11.0
1   16.0  27.0  39.0
35  17.0  83.0  67.0